.home {
  width: 100%;
  align-content: center;

  .container{
    max-width: 60em;
    display: inline-block;
    margin: auto;
  }
  .content{
    text-align: left;
    box-sizing: border-box;
  }

  .title{
    width: 100vw;
    display: block;
    .language{
      margin: 2em 2em 0 auto;
      padding: 0.5em 1em;
      background-color: #0D294A;
      color: white;
      font-weight: bold;
      border-radius: 0.7em;
      border-color: transparent;
      display: block;
      &:hover{
        background-color: rgba(13, 41, 74, 0.8);
      }
    }
    h1{
      margin: 0 0 1em 0;
      font-size: 8em;
    }
    h2{
      margin: 0 0 0 0;
    }
  }
}
@media screen and (max-width: 64em) {
  .home{
    .container{
      margin-left: 2em;
      margin-right: 2em;
    }
    .language{
      padding: 1.5em 1em;
    }
  }

}
