.back__button {
    position: absolute;
    top: 20%;
    display: flex;
    margin-left: 15%;
    margin-top: 2em;

}

.partners {
    width: 100%;
    text-align: center;
    align-content: center;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    padding: 2em;
    margin: auto;
}

.partnerGrid {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
}

@media screen and (max-width: 720px) {
    .partnerGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
