.header {
    align-content: center;
    background-image: url("../../../assets/images/header-background.png");
    background-position: center;
    background-size: cover;
    .subHeader{
        width: auto;
        height: auto;
        background:radial-gradient(ellipse at 50% 50%, rgba(255, 255, 255, 1) 3%, rgba(0, 0, 0, 0) 69%, rgba(238, 130, 238, 0) 100%);
    }

    &__images {
        max-width: 40em;
        display: inline-block;
        margin: auto;
    }

    &__logo{
        width: 100%;
        padding: 5em 0 5em 0;
    }

}

@media screen and (max-width: 64em) {
    .header{
        &__images {
            display: inline-block;
            width: 93%;
            margin-left: 2em;
            margin-right: 2em;
        }
    }

}
