.header {
    align-content: center;
    background-image: url("../../../assets/images/header-background.png");
    background-position: top;
    background-size: cover;
    padding: 4em 0 4em 0;
    .subHeader{
        width: auto;
        height: auto;
    }

    &__images {
        max-width: 40em;
        display: inline-block;
        margin: auto;
    }

    &__logo{
        width: 100%;
        padding: 5em 0 5em 0;
    }

}

@media screen and (max-width: 64em) {
    .header{
        &__images {
            display: inline-block;
            width: 93%;
            margin-left: 2em;
            margin-right: 2em;
        }
    }

}
