.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/digireal_header_background_FINAL.png");
  background-position: top;
  background-size: cover;

  .subHeader {
    width: auto;
    height: auto;
  }

  &__images {
    max-width: 40em;
    display: inline-block;
    margin: auto;
  }

  &__logo {
    width: 100%;
    padding: 5em 0 5em 0;
  }
}
