//ToDo: fix this file.
.section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title:before{
    content: "";
    flex: 1 1 ;
    border-bottom: 2px solid;
    margin: auto 10px auto auto;
  }

  .title:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid;
    margin: auto auto auto 10px;
  }

  .title_container{
    flex-grow: 3;
  }

  .title{
    display: flex;
    flex-direction: row;
  }

  .circle{
    align-self: center;
    border-radius: 100%;
    border-color: #0D294A;
    border-width: 4px;
    border-style: solid;
    width: 20px;
    top: 6px;
    height: 20px;
    overflow: hidden;
  }

  margin: 4em 2em 4em 2em;
}

@media screen and (max-width: 30em) {
  .section {
    margin: 4em 7px 4em 7px;
    .title {
      font-size: 27px;
    }
  }
}

